body, html {
    margin: 0 0 0 0;
    height: 100%;
    background: #70c7df; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, blue, lightblue);
  }
  
  .container {
  
  }
  
  .header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
  }
  
  .bodytext{
    font-family: 'Roboto', sans-serif;
      font-size: 14px;
  }
  
  .card-container.card {
  
    
    
  }
  
  img.logo-card{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
  }
  
  /* Card komponenter
  */
  .card {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    width: 400px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0 solid #FFFFFF;
    padding: 35px;
  }
  
  /*Form styles
  */
  .form-login, label, input, a {
    font-family: 'Source Sans Pro', sans-serif;
  } 
  
  input[type=text],[type=password] {
      font-size: 16px;
      width: 100%;
      padding: 12px 10px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=submit] {
      width: 100%;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 8px 0;
    
      font-size: 14px;
      font-weight: bold;
      background: -webkit-linear-gradient(left, blue, lightblue);
      border-radius: 5px;
      transition: all 0.4s ease;;
      color: white;
      padding: 20px 20px;
  
  }
  
  .btn-sendreset{
    
  }
  .btn-goback{
    
  }
  
  input[type=submit]:hover {
      background-color: #45a049;
  }
  
  #forgot-password-card {
    text-align: center;
    padding: 20px;
  }
  
  .forgot-password {
      text-decoration: none;
  }

    .Go-Back {
    text-align: center;
    margin-top: 5px;
    color: blue;
    text-decoration: none;
    text-decoration: underline;
  }
  
  